<h1>Achieveに新しく問い合わせが投稿されました！</h1>

<p>name: <%= @contact.name %></p>
<p>email: <%= @contact.email %></p>
<p>email: <%= @contact.content %></p>

<p>
  <%= link_to '投稿された問い合わせはこちら', contacts_url %>
</p>